/** @format */

.refer__inner {
	padding-bottom: 200px;
	h2 {
		font-size: 30px;
		color: var(--black);
	}
}

.refer__list {
	border: 1px solid var(--bg-light-border);
	li {
		border-bottom: 1px solid var(--bg-light-border);
		a {
			display: flex;
			align-items: center;
			width: 100%;
			color: var(--white);

			span {
				display: inline-block;
				padding: 15px 20px;
			}

			.num {
				flex: 1 1 5%;
				text-align: center;
				border-right: 1px solid var(--bg-light-border);
			}
			.name {
				flex: 1 1 20%;
				border-right: 1px solid var(--bg-light-border);
			}
			.desc {
				flex: 1 1 65%;
				border-right: 1px solid var(--bg-light-border);
				font-family: var(--font-kor2);
			}
			.star {
				flex: 1 1 10%;
				text-align: center;
			}
		}
	}
}
