/** @format */
.youtube__slider {
	.swiper-wrapper {
		margin-bottom: 70px;
		.swiper-slide {
			.youtube__img {
				border-radius: 10px;
			}
			.youtube__title {
				font-size: 18px;
				color: var(--white);
				font-family: var(--font-kor1);
				width: 320px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				margin-top: 10px;
			}
		}
	}
	.swiper-pagination {
		color: var(--white);
		margin-bottom: 20px;
		font-size: 18px;
	}
	li {
		a {
			img {
				border-radius: 5px;
				margin-bottom: 10px;
			}
			.you__title {
				font-size: 14px;
				font-family: var(--font-kor1);
				width: 250px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-bottom: 30px;
			}
		}
	}
}
.youtube__btn {
	.btn {
		margin-bottom: 20px;
		padding: 5px 10px;
		border: 1px solid var(--white);
		margin-left: 10px;
		border-radius: 10px;
		font-family: var(--font-kor1);
		:hover {
			cursor: pointer;
		}
	}
}
